<header class="bg-cover text-white">
    <div class="container header-content">
        <div class="header-left">
            <h1 class="display-6 fw-bold">HPMM</h1>
        </div>
        <div *ngIf="isLoggedIn()" class="header-right">
            <div class="user-info">
                <span class="username" *ngIf="currentUser">{{ currentUser.username }}</span>
            </div>
            <button class="btn-logout" (click)="logout()">
                Cerrar Sesión
            </button>
        </div>
    </div>
</header>
